@import 'style1.scss';

.uit {
	color: $maudo;
	font-size: $size40;
    h1 {
		color: $mauhong;
    	font-size: $size30;
		&:hover {
			color: yellow;
		}
	}
	p {
		color: $mauxanh;
    	font-size: $size20;
		&:hover {
			color: green;
		}
	}
}

.ie105 {
	@extend .uit;
}

.demo {
	@include demo;
}

.demo2 {
	@include demo2($size40, $mauhong);
}