@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap";

$fontcandung: 'Roboto', sans-serif;
$positionbtnwidth: 200px;
$mauden: #000;
$mautrang: rgba(255, 255, 255,1 );
$maudo: red;
$mauxam: rgb(222,222,222);
$maunau: #6d0b15;
$maudonhat: salmon;
$mauxam: rgb(228,213,213);

@mixin reset_pad-mar () {
    margin: 0;
	padding: 0;
}

%reset-pad-mar {
	margin: 0;
	padding: 0;
}